.mydiv {
    height: 100px;
    width: 100px;
    background-color: violet;
    color: black;
    border: 1px solid black;
}

#btn2 {
    color: rgb(242, 242, 254);
    background-color: rgb(43, 9, 75);
}

a {
    text-decoration: none;
}